<div class="wrapper-wide">
  <app-header></app-header>
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li>
          <a routerLink="/">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li>
          <a routerLink="/invoices">فاکتور های من</a>
        </li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <div class="clearfix">
            <h1 class="title">فاکتور های من</h1>
            <div class="tools">
              <div class="form-group">
                <select class="form-control minimal" [(ngModel)]="invoiceStatusFilter" (ngModelChange)="ngOnFilterChange($event)">
                  <option value="" selected>همه</option>
                  <option value="1">پرداخت شده</option>
                  <option value="2">پرداخت نشده</option>
                  <option value="3">منقضی شده</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="invoiceNumberFilter" (ngModelChange)="ngOnInvoiceNumberFilterChange($event)"
                  placeholder="جستجو کنید" />
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="">شماره فاکتور</td>
                  <td class="">تاریخ صدور</td>
                  <td class="">شماره مرجع</td>
                  <td class="">مبلغ فاکتور</td>
                  <td class="">وضعیت</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoiceItemList | defaultfilter:filterargs | likefilter: invoiceNumberfilterargs |  paginate: { itemsPerPage: 10, currentPage: p }; let index = index">
                  <td class=" enNumber uppercase">
                    <a [routerLink]="['/invoices', 'details', item.invoiceNumber]">{{item.invoiceNumber}}</a>
                  </td>
                  <td class="dir-left">{{item.createDateTime | jalali: 'jYYYY/jM/jD HH:mm'}}</td>
                  <td *ngIf="item.transactionNumber">{{item.transactionNumber}}</td>
                  <td *ngIf="!item.transactionNumber">[پرداخت نشده]</td>
                  <td>{{item.amount | priceToman}}</td>
                  <td>
                    <badge *ngIf="item.expired || isExpired(item) else notExpired" labelStatus="danger">منقضی شده</badge>
                    <ng-template #notExpired>
                      <badge *ngIf="!item.paid" labelStatus="warning">پرداخت نشده</badge>

                      <badge *ngIf="item.paid" labelStatus="success">پرداخت شده</badge>
                    </ng-template>
                  </td>
                  <td>
                    <button [disabled]="item.expired || isExpired(item)" class="btn btn-primary" *ngIf="item.paid == false" [routerLink]="['/invoices', 'pay', item.invoiceNumber]">پرداخت</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="buttons">
            <div class="pull-left">
              <a routerLink="/" class="btn btn-default">بازگشت به صفحه اصلی</a>
            </div>
            <div class="pull-right">
              <pagination-controls class="" (pageChange)="p = $event" previousLabel="قبلی" nextLabel="بعدی" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="صفحه" screenReaderCurrentLabel="صفحه فعلی شما" directionLinks="true"></pagination-controls>
            </div>
          </div>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
  </div>
  <!--Footer Start-->
  <app-footer></app-footer>
  <!--Footer End-->
</div>

<router-outlet></router-outlet>
