<div class="row">
  <div class="col-sm-8" type="topSlider" group="topSlider" slider-view>
    <!-- Slideshow Start-->
    <!-- <div class="slideshow single-slider owl-carousel">
      <div class="owl-item">
        <a href="#">
          <img class="img-responsive" src="assets/img/website/slider/banner-1-750x400.jpg" alt="banner 1" />
        </a>
      </div>
      <div class="owl-item">
        <a href="#">
          <img class="img-responsive" src="assets/img/website/slider/banner-2-750x400.jpg" alt="banner 2" />
        </a>
      </div>
      <div class="owl-item">
        <a href="#">
          <img class="img-responsive" src="assets/img/website/slider/banner-3-750x400.jpg" alt="banner 3" />
        </a>
      </div>
    </div> -->
    <!-- Slideshow End-->
  </div>
  <div class="col-sm-4 pull-left flip">
    <div class="marketshop-banner">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="banner" group="banner1" slider-view  defaultsize="360x185">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="banner" group="banner2" slider-view  defaultsize="360x185">
        </div>
      </div>
    </div>
  </div>
</div>
