<div class="category-module" id="latest_category">
  <h3 class="subtitle">الکترونیکی -
    <a class="viewall" href="category.tpl">نمایش همه</a>
  </h3>
  <div class="category-module-content">
    <ul id="sub-cat" class="tabs">
      <li>
        <a href="#tab-cat1">لپ تاپ</a>
      </li>
      <li>
        <a href="#tab-cat2">رومیزی</a>
      </li>
      <li>
        <a href="#tab-cat3">دوربین</a>
      </li>
      <li>
        <a href="#tab-cat4">موبایل و تبلت</a>
      </li>
      <li>
        <a href="#tab-cat5">صوتی و تصویری</a>
      </li>
      <li>
        <a href="#tab-cat6">لوازم خانگی</a>
      </li>
    </ul>
    <div id="tab-cat1" class="tab_content">
      <div class="owl-carousel latest_category_tabs">
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/samsung_tab_1-200x200.jpg" alt="تبلت ایسر" title="تبلت ایسر" class="img-responsive"
              />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">تبلت ایسر</a>
            </h4>
            <p class="price">
              <span class="price-new">98000 تومان</span>
              <span class="price-old">240000 تومان</span>
              <span class="saving">-5%</span>
            </p>
            <div class="rating">
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
            </div>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <!-- <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button> -->
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/macbook_pro_1-200x200.jpg" alt=" کتاب آموزش باغبانی " title=" کتاب آموزش باغبانی "
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html"> کتاب آموزش باغبانی </a>
            </h4>
            <p class="price">
              <span class="price-new">98000 تومان</span>
              <span class="price-old">120000 تومان</span>
              <span class="saving">-26%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/macbook_air_1-200x200.jpg" alt="لپ تاپ ایلین ور" title="لپ تاپ ایلین ور"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">لپ تاپ ایلین ور</a>
            </h4>
            <p class="price">
              <span class="price-new">10 میلیون تومان</span>
              <span class="price-old">12 میلیون تومان</span>
              <span class="saving">-5%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/macbook_1-200x200.jpg" alt="آیدیا پد یوگا" title="آیدیا پد یوگا"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">آیدیا پد یوگا</a>
            </h4>
            <p class="price"> 900000 تومان </p>
            <div class="rating">
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
            </div>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_shuffle_1-200x200.jpg" alt="لپ تاپ hp پاویلیون" title="لپ تاپ hp پاویلیون"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">لپ تاپ hp پاویلیون</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_touch_1-200x200.jpg" alt="سامسونگ گلکسی s7" title="سامسونگ گلکسی s7"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">سامسونگ گلکسی s7</a>
            </h4>
            <p class="price">
              <span class="price-new">62000 تومان</span>
              <span class="price-old">122000 تومان</span>
              <span class="saving">-50%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-cat2" class="tab_content">
      <div class="owl-carousel latest_category_tabs">
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_shuffle_1-200x200.jpg" alt="لپ تاپ hp پاویلیون" title="لپ تاپ hp پاویلیون"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">لپ تاپ hp پاویلیون</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-cat3" class="tab_content">
      <div class="owl-carousel latest_category_tabs">
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/FinePix-Long-Zoom-Camera-200x200.jpg" alt="دوربین فاین پیکس" title="دوربین فاین پیکس"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">دوربین فاین پیکس</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/nikon_d300_1-200x200.jpg" alt="دوربین دیجیتال حرفه ای" title="دوربین دیجیتال حرفه ای"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">دوربین دیجیتال حرفه ای</a>
            </h4>
            <p class="price">
              <span class="price-new">92000 تومان</span>
              <span class="price-old">98000 تومان</span>
              <span class="saving">-6%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-cat4" class="tab_content">
      <div class="owl-carousel latest_category_tabs">
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/samsung_tab_1-200x200.jpg" alt="تبلت ایسر" title="تبلت ایسر" class="img-responsive"
              />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">تبلت ایسر</a>
            </h4>
            <p class="price">
              <span class="price-new">98000 تومان</span>
              <span class="price-old">240000 تومان</span>
              <span class="saving">-5%</span>
            </p>
            <div class="rating">
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
            </div>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/iphone_1-200x200.jpg" alt="آیفون 7" title="آیفون 7" class="img-responsive"
              />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">آیفون 7</a>
            </h4>
            <p class="price"> 2200000 تومان </p>
            <div class="rating">
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
            </div>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_touch_1-200x200.jpg" alt="سامسونگ گلکسی s7" title="سامسونگ گلکسی s7"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">سامسونگ گلکسی s7</a>
            </h4>
            <p class="price">
              <span class="price-new">62000 تومان</span>
              <span class="price-old">122000 تومان</span>
              <span class="saving">-50%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/palm_treo_pro_1-200x200.jpg" alt="موبایل HTC M7" title="موبایل HTC M7"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">موبایل HTC M7</a>
            </h4>
            <p class="price"> 377000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-cat5" class="tab_content">
      <div class="owl-carousel latest_category_tabs">
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/samsung_tab_1-200x200.jpg" alt="تبلت ایسر" title="تبلت ایسر" class="img-responsive"
              />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">تبلت ایسر</a>
            </h4>
            <p class="price">
              <span class="price-new">98000 تومان</span>
              <span class="price-old">240000 تومان</span>
              <span class="saving">-5%</span>
            </p>
            <div class="rating">
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
            </div>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_classic_1-200x200.jpg" alt="آیپاد نسل 5" title="آیپاد نسل 5"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">آیپاد نسل 5</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/macbook_pro_1-200x200.jpg" alt=" کتاب آموزش باغبانی " title=" کتاب آموزش باغبانی "
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html"> کتاب آموزش باغبانی </a>
            </h4>
            <p class="price">
              <span class="price-new">98000 تومان</span>
              <span class="price-old">120000 تومان</span>
              <span class="saving">-26%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/macbook_air_1-200x200.jpg" alt="لپ تاپ ایلین ور" title="لپ تاپ ایلین ور"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">لپ تاپ ایلین ور</a>
            </h4>
            <p class="price">
              <span class="price-new">10 میلیون تومان</span>
              <span class="price-old">12 میلیون تومان</span>
              <span class="saving">-5%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/macbook_1-200x200.jpg" alt="آیدیا پد یوگا" title="آیدیا پد یوگا"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">آیدیا پد یوگا</a>
            </h4>
            <p class="price"> 900000 تومان </p>
            <div class="rating">
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star fa-stack-2x"></i>
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
              <span class="fa fa-stack">
                <i class="fa fa-star-o fa-stack-2x"></i>
              </span>
            </div>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_nano_1-200x200.jpg" alt="پخش کننده موزیک" title="پخش کننده موزیک"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">پخش کننده موزیک</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/FinePix-Long-Zoom-Camera-200x200.jpg" alt="دوربین فاین پیکس" title="دوربین فاین پیکس"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">دوربین فاین پیکس</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_shuffle_1-200x200.jpg" alt="لپ تاپ hp پاویلیون" title="لپ تاپ hp پاویلیون"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">لپ تاپ hp پاویلیون</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="cart.add('34');">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="wishlist.add('34');">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="compare.add('34');">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_touch_1-200x200.jpg" alt="سامسونگ گلکسی s7" title="سامسونگ گلکسی s7"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">سامسونگ گلکسی s7</a>
            </h4>
            <p class="price">
              <span class="price-new">62000 تومان</span>
              <span class="price-old">122000 تومان</span>
              <span class="saving">-50%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/nikon_d300_1-200x200.jpg" alt="دوربین دیجیتال حرفه ای" title="دوربین دیجیتال حرفه ای"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">دوربین دیجیتال حرفه ای</a>
            </h4>
            <p class="price">
              <span class="price-new">92000 تومان</span>
              <span class="price-old">98000 تومان</span>
              <span class="saving">-6%</span>
            </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-cat6" class="tab_content">
      <div class="owl-carousel latest_category_tabs">
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_classic_1-200x200.jpg" alt="آیپاد نسل 5" title="آیپاد نسل 5"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">آیپاد نسل 5</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="cart.add('48');">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="product-thumb">
          <div class="image">
            <a href="product.html">
              <img src="assets/img/website/product/ipod_nano_1-200x200.jpg" alt="پخش کننده موزیک" title="پخش کننده موزیک"
                class="img-responsive" />
            </a>
          </div>
          <div class="caption">
            <h4>
              <a href="product.html">پخش کننده موزیک</a>
            </h4>
            <p class="price"> 122000 تومان </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" type="button" onClick="">
              <span>افزودن به سبد</span>
            </button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick="">
                <i class="fa fa-heart"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick="">
                <i class="fa fa-exchange"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
