<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>الیس | @ViewBag.Title</title>

    <link href="~/Content/admin/css/plugins/colors/colors.css" rel="stylesheet" />
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/Content/admin/css/animate.css" rel="stylesheet">
    <link href="~/Content/admin/css/plugins/steps/jquery.steps.css" rel="stylesheet" />
    <link href="~/Content/admin/css/fonts.css" rel="stylesheet">
    <link href="~/Content/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/style.css" rel="stylesheet">
    <link href="~/Content/admin/css/plugins/ionicon/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.min.css" rel="stylesheet"/>
    <link href="~/Content/admin/css/plugins/summernote/summernote.css" rel="stylesheet"/>
    <link href="~/Content/admin/css/plugins/tagmanager/tagmanager.css" rel="stylesheet" />
    
    <script src="~/Content/admin/js/jquery-2.1.1.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
</head>