<div class="panel panel-warning">
  <div class="panel-heading">
    ویرایش مجموعه
    <a class="close-link pull-left" [routerLink]="['/controlpanel','tariffcategories']">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row">
            <label class="col-md-3 control-label">عنوان</label>

            <div class="col-md-9">
              <input type="text" class="form-control" name="title" [(ngModel)]="model.title">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-md-3 control-label">متن آدرس</label>

            <div class="col-md-9">
              <input type="text" class="form-control" name="slug" [(ngModel)]="model.slug">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-md-3 control-label">کلمات کلیدی</label>

            <div class="col-md-9">
              <input type="text" class="form-control" name="keywords" [(ngModel)]="model.keywords" tagsinputwithmodel #keywordsInput>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-md-3 control-label">توضیحات</label>

            <div class="col-md-9">
              <textarea class="form-control" name="description" [(ngModel)]="model.description"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <dropzone [config]="dropzoneConfig" [message]="'برای بارگزاری فایل های خود را اینجا بکشید یا کلیک نمایید'" (error)="onUploadError($event)"
                (success)="onUploadSuccess($event)" (removedfile)="onRemoveFile($event)"></dropzone>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-warning btn-block" [ladda]="submitting" (click)="save()">ذخیره</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
