<div class="container">
  <div class="custom-feature-box row">
    <div class="col-sm-4 col-xs-12">
      <div class="feature-box fbox_1">
        <div class="title">ارسال رایگان</div>
        <p>برای خرید های بیش از 100 هزار تومان</p>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="feature-box fbox_3">
        <div class="title">کارت هدیه</div>
        <p>بهترین هدیه برای عزیزان شما</p>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="feature-box fbox_4">
        <div class="title">امتیازات خرید</div>
        <p>از هر خرید امتیاز کسب کرده و از آن بهره بگیرید</p>
      </div>
    </div>
  </div>
</div>
